# Dependencies
node_modules/
.pnp
.pnp.js

# Builds
dist/
build/
.next/
out/
coverage/
*.tsbuildinfo

# Environment
.env
.env.local
.env.development
.env.staging
.env.production
!.env.example

# Prisma
apps/api/prisma/*.db

# Logs
logs/
*.log
npm-debug.log*

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# Terraform
infra/terraform/.terraform/
infra/terraform/*.tfstate
infra/terraform/*.tfstate.backup
infra/terraform/.terraform.lock.hcl
infra/terraform/*.tfvars
!infra/terraform/*.tfvars.example

# Uploads / local storage
uploads/
.s3-local/

# Sentry
.sentryclirc
